/* --------------------API AND URL ACCESS-------------------- */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* --------------------All Pages (Basic Settings)-------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(255, 255, 255);

    background-color: rgba(52,53,58,255);
}

/* --------------------Navigation/Head Bar-------------------- */
header {
    /* ALIGN */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: rgba(52,53,58,255);
    }

#first-name {
    /* FIRST NAME */
        font-size: 40px;
        color: rgba(245,196,105,255);
        font-weight: lighter;
        font-family: "Radio Canada Big", sans-serif;
        font-style: normal; 
    }
    
    #name {
    /* NAME */
        font-size: 25px;
        color: rgb(255, 255, 255);
        font-weight: lighter;
        font-family: "Radio Canada Big", sans-serif;
        font-style: normal; 
    }

.links a {
/* LINKS */
    margin-right: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;

    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.links a:hover {
/* BUTTONS HOVER EFFECTS */
    color:rgba(240,191,108,255);
    text-decoration: double;
}

.n_logo {
/* LEFT ELEMENTS */
    display: flexbox;
    align-items: center;
}

.social_links a {
    /* SOCIAL LINKS */
        margin-right: 17px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
    
        font-family: "Radio Canada Big", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }
.social_links a:hover {
    /* BUTTONS HOVER EFFECTS */
        color:rgb(255, 81, 0);
        text-decoration: underline;
    }

/* --------------------PRESENTATION SECTION-------------------- */
.presentation_text1, .presentation_text2 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;

    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
#presentation_name {
    color: rgba(245,196,105,255);
    text-decoration: none;
    font-size: 30px;

    font-family: serif, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}
